In [1]:
# variables containing data

In [2]:
a = "Renu Gupta"

In [3]:
type(a)

str

In [4]:
b = [1,2,3,4]

In [ ]:
type(b)

list

In [12]:
c = 17.06

In [13]:
type(c)

float

In [14]:
d = (2, 12.6, "Renu Gupta", [1,2,3,4])

In [15]:
type(d)

tuple

In [1]:
# Q2.

In [2]:
var1 = ''

In [4]:
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'

In [8]:
type(var2)

str

In [9]:
var3 = ['DS' , 'ML' , 'Python']

In [10]:
type(var3)

list

In [11]:
var4 = 1

In [12]:
type(var4)

int

In [1]:
# Q3. Operators

In [3]:
10/5 # division operator

2.0

In [2]:
1%4 # modulus operator 
# this didvides 1 by 4 and write the remainder

1

In [3]:
36//5 # Floor division operator

7

In [4]:
# the result of 36//5 is 7.2 and the nearest value is 7

In [5]:
3**3 # Exponential operator

27

In [6]:
# Q 4.

In [17]:
l = [2 , 23.06, "Renu", 2+3j, True, False, 3, 17, 17+6j, "Gupta" ]

In [19]:
for i in l :
    print(i)
    print(type(i))

2
<class 'int'>
23.06
<class 'float'>
Renu
<class 'str'>
(2+3j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>
3
<class 'int'>
17
<class 'int'>
(17+6j)
<class 'complex'>
Gupta
<class 'str'>

In [1]:
# Q.5

In [2]:
def count_divisions(a, b):
    count = 0
    
    while a >= b:
        a -= b
        count += 1
    
    return count

number_A = int(input("Enter number A: "))
number_B = int(input("Enter number B: "))

result = count_divisions(number_A, number_B)
print(f"{number_A} is divisible by {number_B} a total of {result} times.")

Enter number A:  50
Enter number B:  2

50 is divisible by 2 a total of 25 times.

In [3]:
# Q.6

In [5]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in List:
    if i % 3 == 0:
        print("divisible by 3")
    else:
        print("Not divisible by 3")

Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3

In [7]:
# Q. 7 mutability & Immutability

In [8]:
L = [1,2,3,4,"Renu"]
A = "Nidhi"

In [9]:
L [4]

'Renu'

In [10]:
L[4] = "Nidhi"

In [11]:
L

[1, 2, 3, 4, 'Nidhi']

In [12]:
A[4]

'i'

In [13]:
A[4] = "u"

TypeError: 'str' object does not support item assignment

In [ ]:
# from this i understood that in list it is possible that we can replace soething but in string it is not possible 
# List supports mutability while string supports immutability